
{% extends 'new.htm' %}

{% load static %}

{% block content %}

<div class="col-md-4 centered">
    <div class="profile-pic">
      <p><img src="{% static 'img/noface.jpg' %}" class="img-circle"></p>
      <p> دکتر صالحی <br> </p>
      <p>
        <button class="btn btn-theme"> message </button>
      </p>
    </div>
  </div>
<div class="col-md-4 centered"> 
    <div class="profile-pic">
      <p><img src="{% static 'img/ui-sam.jpg' %}" class="img-circle"></p>
      <p>سید پوریا تقوی <br> IT مسئول</p>
      <p>
        <button class="btn btn-theme"> message </button>
      </p>
    </div>
  </div>
<div class="col-md-4 centered">
    <div class="profile-pic">
      <p><img src="{% static 'img/bordbar.jpg' %}" class="img-circle"></p>
      <p>  علی بردبار <br> مسئول ارتباطات</p>
      <p>
        <button class="btn btn-theme"> message </button>
      </p>
    </div>
  </div>
  <div class="col-md-4 centered">
    <div class="profile-pic">
      <p><img src="{% static 'img/khase.jpg' %}" class="img-circle"></p>
      <p> علی خاصه <br> مسئول ارتباطات  </p>
      <p>
        <button class="btn btn-theme"> message </button>
      </p>
    </div>
  </div>
<div class="col-md-4 centered">
    <div class="profile-pic">
      <p><img src="{% static 'img/madani.jpg' %}" class="img-circle"></p>
      <p>  وحید مدنی پور <br> حامی </p>
      <p>
        <button class="btn btn-theme"> message </button>
      </p>
    </div>
  </div>
<div class="col-md-4 centered">
    <div class="profile-pic">
      <p><img src="{% static 'img/haji.jpg' %}" class="img-circle"></p>
      <p> زهرا حاجی اصغری <br> حامی </p>
      <p>
        <button class="btn btn-theme"> message </button>
      </p>
    </div>
  </div>

<div class="col-md-4 centered">
    <div class="profile-pic">
      <p><img src="{% static 'img/ahadi.jpg' %}" class="img-circle"></p>
      <p> محمد احدی </p>
      <p>
        <button class="btn btn-theme"> message </button>
      </p>
    </div>
  </div>
<div class="col-md-4 centered">
    <div class="profile-pic">
      <p><img src="{% static 'img/falah.jpg' %}" class="img-circle"></p>
      <p>بهنام فلاح</p>
      <p>
        <button class="btn btn-theme"> message </button>
      </p>
    </div>
  </div>

  {% endblock %}