{% extends 'new.htm' %}
{% load static %}

{% block content %}
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Dashio - Bootstrap Admin Template</title>
  
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png" rel="icon' %}">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Bootstrap core CSS -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
  
    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
  </head>
  
  <body>
    <section id="container">
    
      <!-- **********************************************************************************************************************************************************
          TOP BAR CONTENT & NOTIFICATIONS
          *********************************************************************************************************************************************************** -->
      <!--header start-->
      
      <!--header end-->
      <!-- **********************************************************************************************************************************************************
          MAIN SIDEBAR MENU
          *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      
      <!--sidebar end-->
      <!-- **********************************************************************************************************************************************************
          MAIN CONTENT
          *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper site-min-height">
          <!-- page start-->
          <div class="chat-room mt">
            <aside class="mid-side">
              <div class="chat-room-head">
                <h3>Chat Room</h3>
                
              </div>
              <div class="group-rom">
                <div class="first-part odd">Ali Bordbar</div>
                <div class="second-part">Salam dostan , kesi crack e barnamaro peyda kard ??</div>
                <div class="third-part">12:30</div>
              </div>
              <div class="group-rom">
                <div class="first-part">Zahra Haji asghari</div>
                <div class="second-part">Salam, man ye chizi peyda kardam vali virus bod :(</div>
                <div class="third-part">12:31</div>
              </div>
              <div class="group-rom">
                <div class="first-part odd">Hamide Baseri</div>
                <div class="second-part">Salam, man yek jayio peyda kardam ke crack haro baraye forosh gozashtand </div>
                <div class="third-part">12:32</div>
              </div>
              <div class="group-rom">
                <div class="first-part">Vahid Madani pour</div>
                <div class="second-part">Kheyli ham ali , man ham gashtam vali chizi pyda nakardam , gheymat cheghadr bod? </div>
                <div class="third-part">12:32</div>
              </div>
              <div class="group-rom">
                <div class="first-part odd">Hamide Baseri</div>
                <div class="second-part">
                  <a href="#">product.jpg</a> <span class="text-muted">35.4KB</span>
                  
                </div>
                <div class="third-part">12:32</div>
              </div>
              <div class="group-rom">
                <div class="first-part">Amirhosein Kalhor</div>
                <div class="second-part">kheili khobe hamino mitonim begirim :)</div>
                <div class="third-part">12:32</div>
              </div>
              <div class="group-rom last-group">
                <div class="first-part odd">Shahab Zojaji </div>
                <div class="second-part">Emshab code haa baraye dostan ersal mishavad!!!</div>
                <div class="third-part">12:33</div>
              </div>
              <footer>
                <div class="chat-txt">
                  <input type="text" class="form-control">
                </div>
                <div class="btn-group hidden-sm hidden-xs">
                  <button type="button" class="btn btn-white"><i class="fa fa-meh-o"></i></button>
                  <button type="button" class="btn btn-white"><i class=" fa fa-paperclip"></i></button>
                </div>
                <button class="btn btn-theme">Send</button>
              </footer>
            </aside>
            
          </div>
          <!-- page end-->
        </section>
        <!-- /wrapper -->
      </section>
      <!-- /MAIN CONTENT -->
      <!--main content end-->
      <!--footer start-->

            <!--
              You are NOT allowed to delete the credit link to TemplateMag with free version.
              You can delete the credit link only if you bought the pro version.
              Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
              Licensing information: https://templatemag.com/license/
            -->
            Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
          </div>
          <a href="chat_room.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
            </a>
        </div>
      </footer>
      <!--footer end-->
    </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="{% static 'lib/common-scripts.js' %}"></script><div id="ascrail2000" class="nicescroll-rails" style="width: 3px; z-index: auto; background: rgb(64, 64, 64); cursor: default; position: fixed; top: 0px; left: 207px; height: 205px; opacity: 0; display: none;"><div style="position: relative; top: 0px; float: right; width: 3px; height: 52px; background-color: rgb(78, 205, 196); background-clip: padding-box; border-radius: 10px;"></div></div><div id="ascrail2000-hr" class="nicescroll-rails" style="height: 3px; z-index: auto; background: rgb(64, 64, 64); top: 202px; left: 0px; position: fixed; cursor: default; display: none; width: 207px; opacity: 0;"><div style="position: relative; top: 0px; height: 3px; width: 210px; background-color: rgb(78, 205, 196); background-clip: padding-box; border-radius: 10px;"></div></div>
    <!--script for this page-->
  
  
  
  
  </body>
     {% endblock%}