{% extends 'base.htm' %}
{% block title %}signup{% endblock %}
{% block content %}
<form class="site-form" action="{% url 'signup:signup' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Signup">
</form>
{% endblock %}

{% block javascript %}
<script>
    $("#id_username").change(function () {
      var username = $(this).val();
      $.ajax({
        url: 'ajax/validate_username/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("A user with this username already exists.");
          }
        }
      });

    });
  </script>
{% endblock %}


